@charset "UTF-8";
html, body {
  width: 100%; }

body {
  overflow-x: hidden; }

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  letter-spacing: 0.125em; }

/* Удаляем стандартную стилизацию для всех ul и ol, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

input,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

body {
  font-family: 'Rubik', sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  height: 9.88vh;
  padding: 3vh 5.6vw 3vh 4vw;
  background-color: #111;
  color: #fff; }

@media screen and (max-width: 1350px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; } }

.header-menu {
  width: 100%; }

.header-menu__list {
  display: flex;
  justify-content: space-around; }

@media screen and (max-width: 750px) {
  .header-menu__list {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 750px) {
  .header-menu__item {
    padding-bottom: 5%; } }

.logo {
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 7.22vw; }

@media screen and (max-width: 1350px) {
  .logo {
    margin-right: 0;
    margin-bottom: 1vh; } }

.phone {
  white-space: nowrap; }

@media screen and (max-width: 1350px) {
  .phone {
    margin-top: 1vh; } }

.basket {
  margin-left: 5.3vw; }

@media screen and (max-width: 1350px) {
  .basket {
    margin-left: 0;
    margin-top: 1vh; } }

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .logo {
    margin-right: 0;
    margin-bottom: 1vh; }
  .phone {
    margin-top: 1vh; }
  .basket {
    margin-left: 0;
    margin-top: 1vh; } }

.main {
  position: relative;
  background-color: #FCDA28;
  padding: 22% 4vw 12%; }

.main__top-border {
  position: absolute;
  top: 0;
  width: 50%;
  opacity: 0.25; }

.main__top-border_left {
  left: 0; }

.main__top-border_right {
  right: 0; }

.main__image {
  position: absolute;
  top: 7.9%;
  right: 4.44vw;
  height: 105.4%; }

.footer {
  background-color: #111;
  color: #fff; }

.button_cta {
  background-color: #FCDA28; }
