@charset "UTF-8";
html, body {
  width: 100%; }

body {
  overflow-x: hidden; }

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  }

/* Удаляем стандартную стилизацию для всех ul и ol, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

input,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: normal;
 }

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.wrapper_header,
.wrapper_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 750px) {
.wrapper_main {
  flex-direction: column;
}
}

.wrapper_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  height: 9.88vh;
  padding: 3vh 5.6vw 3vh 4vw;
  background-color: #111;
  color: #fff; }

@media screen and (max-width: 1350px) {
  .wrapper_header {
    flex-direction: column;
    align-items: center;
  }

  .header {
    
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; } }

.header-menu {
  width: 100%; }

.header-menu__list {
  display: flex;
  justify-content: space-around; }

@media screen and (max-width: 750px) {
  .header-menu__list {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 750px) {
  .header-menu__item {
    padding-bottom: 5%; } }

.logo {
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 7.22vw; }

@media screen and (max-width: 1350px) {
  .logo {
    margin-right: 0;
    margin-bottom: 1vh; } }

.phone {
  white-space: nowrap; }

@media screen and (max-width: 1350px) {
  .phone {
    margin-top: 1vh; } }

.basket {
  margin-left: 5.3vw;
  width: 28px;
 }

@media screen and (max-width: 1350px) {
  .basket {
    margin-left: 0;
    margin-top: 1vh; } }

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .logo {
    margin-right: 0;
    margin-bottom: 1vh; }
  .phone {
    margin-top: 1vh; }
  .basket {
    margin-left: 0;
    margin-top: 1vh; } }

.main {
  position: relative;
  background-color: #FCDA28;
  padding: 8% 4vw 0; }

.main__top-border {
  position: absolute;
  top: 0;
  width: 50%;
  opacity: 0.25; }

.main__top-border_left {
  left: 0; }

.main__top-border_right {
  right: 0; }

.main__text {
  z-index: 2;
}



.main__header {
  font-size: 9rem;
  line-height: 9.5rem;
  color: #fff;
}

@media screen and (max-width: 1350px) {
  .main__header {
    font-size: 10vw;
    line-height: 10.5vw;

    } }

.main__description {
  width: 47%;
  margin-top: 3%;

  font-size: 1.5rem;
  line-height: normal;
  color: #111;
}

.main__subheader {
  margin-top: 8%;

  color: #111;
  font-size: 2.25rem;
}

.main__footnote {
  width: 25%;
  margin-bottom: 6.5%;
  
  color: #111;
  font-size: 1.125rem;
}

@media screen and (max-width: 750px) {
  .main__text {
    text-align: center;
    } 
    
  .main__description,
  .main__footnote {
    margin: auto;
    width: 90%;
  }}

.main__image {
  position: absolute;
  top: 7.9%;
  right: calc((100vw - 1320px)/2 + 4%);
  height: 105.4%;
  z-index: 0;
 }

 @media screen and (max-width: 1350px) {
  .main__image {
    right: 4%;
    } }

@media screen and (max-width: 750px) {
  .main__image {
    position: static;
    height: 50vh;
    margin-top: 5%;
    object-fit: contain;
    } }

.footer {
  background-color: #111;
  color: #fff; 
  padding-top: 8.8%;
}

.footer-header {
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .footer-header {
  font-size: 2rem;
    
    } }

.footer-text_top {
  color: #fff;
}

.footer-text_bottom {
  color: #FCB500
}
  
  .price-block {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5.9%;
}

.price {
  font-weight: normal;
}

.price_old {
  margin-right: 32px;
  font-size: 2.25rem;
  
  color: #ADADAD;
  text-decoration: line-through;
}

.price_new {
  font-size: 3rem;
}

.advantages {
  display: flex;
  justify-content: space-between;

  margin-top: 4.1%;
  padding-left: 12%;
  padding-right: 12%;
}

@media screen and (max-width: 1100px) {
  .advantages {
    flex-direction: column;
    } }

    .advantage-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 1100px) {
      .advantage-item {
        margin-bottom: 5%;
        } }

.advantage-item__image_side {
  margin-bottom: 40%;
}

@media screen and (max-width: 1100px) {
  .advantage-item__image_side {
    margin-bottom: 0;
    } }

.advantage-item__image_center {
  margin-bottom: 11.5%;
}

@media screen and (max-width: 1100px) {
  .advantage-item__image_center {
    margin-bottom: 5%;
    } }

.advantage-item__description_side {
  font-size: 1.125rem;
}

.advantage-item__description_center {
  font-size: 2.25rem;
}



.advantage-item__description_center_bottom {
  font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
  .advantage-item__description_center_top,
  .advantage-item__description_center_bottom  {
  font-size: 1rem;
    
    } }

.button {
  width: 18vmax;
  padding: 1% 0;
  border-radius: 7px;
}

.button_cta {
  margin: 4.5% auto 7.8%;

  color: #111;
  background-color: #FCB500; }

  @media screen and (max-width: 1100px) {
    .button_cta {
      margin-top: 0;
      } }
